
.package-content {
  opacity: 0;
  animation: fadeIn 1s forwards;
  transition: opacity 0.5s ease-out;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-left: 30%;
  margin-top: 20px;

  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  border-radius: 10px;
  color: #ffffff;

  /* Background image */
  background-image: url('/public/price-card.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

  
  .package-item {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
    animation-delay: 0.5s;
  }
  
  .package-item:nth-child(2) {
    animation-delay: 1s;
  }
  
  .package-item:nth-child(3) {
    animation-delay: 1.5s;
  }
  
  .package-item:nth-child(4) {
    animation-delay: 2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .contentshowing {
    box-shadow: 10px 10px 20px #000000,-10px -10px 20px #ffffff;
  
  }